huggingface_hub
openmeteo-requests
torch
datasets
requests
requests-cache
pandas
retry-requests
tqdm
numpy
faiss-cpu
scikit-learn
langchain
langchain-community
langchain-core
sentence-transformers
transformers
langchain-huggingface
pathway
